header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

img {
    width: 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

ul li {
    cursor: pointer;
}